.random {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.randomMovie {
  display: flex;
  gap: 50px;
}

.randomBtn {
  margin-top: 30px;
}
