.movie {
  padding-top: 30px;
}

.movieContent {
  display: flex;
  padding: 0 30px;
  gap: 20px;
}

.leftColumn {
  width: 400px;
}

.rightColumn {
  width: calc(100% - 400px);
  position: relative;
}

.movieTitle {
  font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
  text-align: left;
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0;
}

.descriptionContainer {
  position: relative;
  display: flex;
}

.description {
  max-height: 100%;
  text-align: left;
  margin: 20px 0 10px;
}

.hiddenElement {
  max-height: 40px;
  overflow: hidden;
}
.hiddenElement:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  bottom: 0px;
  background: linear-gradient(180deg, transparent 0%, white 105%);
  pointer-events: none;
}

.poster {
  height: 530px;
  object-fit: contain;
}

.ratingList {
  list-style: none;
  padding: 0;
}

.movieInfo {
  display: flex;
  gap: 30px;
}

.tabs {
  flex-grow: 1;
}

.slide {
  display: flex;
  flex-direction: column;
}

.backBtn {
  position: absolute;
  top: 0;
  right: 0;
}
