.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // flex-grow: auto 1 auto;
  text-align: center;
}

.main {
  width: 100%;
  max-width: 1440px;
  flex-grow: 1;
  margin: auto;
}
