.header {
  position: relative;
  background-color: #000;
  color: #fff;
  height: 100px;
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link {
  color: #fff;
}

.headerLogo {
  font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
  letter-spacing: 1px;
  text-align: left;
  margin: 30px 30px 0;
}
