.header {
  background-color: #000;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 0;
}

.headerLogo {
  font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
  letter-spacing: 1px;
  margin: 0;
}
