.header {
  background-color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--border-main);
}

.link,
.authLink {
  text-decoration: none;
  display: inline-block;
  margin: 0;
}

.link {
  transition: color 0.2s ease;
  color: #000;
  &:hover {
    color: var(--lightBlue);
  }
}

.authLink {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.2s ease;
  color: #000;
  &:hover {
    color: var(--lightBlue);
  }
}

.headerLogo {
  font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  text-align: left;
}

.shapkaWrapper {
  position: relative;
}

.shapka {
  font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 5px;
  z-index: 1;
}

.cap {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 14px;
  left: -22px;
  transform: rotate(-14deg);
  z-index: 2;
}

.linksBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  width: 380px;
  text-align: right;
}

@media screen and (max-width: 960px) {
  .shapka {
    font-size: 28px;
    line-height: 34px;
  }
  .authLink {
    font-size: 16px;
    line-height: 19px;
  }
  .cap {
    height: 40px;
    width: 40px;
    top: 12px;
    left: -16px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 80px;
  }
  .headerLogo {
    font-size: 20px;
    line-height: 24px;
  }
  .authLink {
    font-size: 14px;
    line-height: 17px;
  }
  .shapka {
    font-size: 24px;
    line-height: 32px;
  }
  .cap {
    height: 33px;
    width: 33px;
    top: 10px;
    left: -13px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    height: 60px;
  }
  .shapka {
    font-size: 20px;
    line-height: 23px;
  }
  .cap {
    height: 25px;
    width: 25px;
    top: 9px;
    left: -10px;
  }
  .authLink {
    font-size: 12px;
    line-height: 14px;
  }
}
