.cast {
  cursor: grab;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.castTitle {
  margin: 10px 0;
  text-align: left;
}

.actorRole,
.actorName {
  margin: 0;
  word-break: break-word;
  font-size: 14px;
  line-height: 17px;
}
.actorRole {
  font-weight: 600;
}

.actorPhoto {
  height: 210px !important;
  object-fit: cover !important;
}

.slide {
  display: flex;
  flex-direction: column;
}

.slideSkeleton {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media screen and (max-width: 1024px) {
  .actorPhoto {
    height: 140px !important;
  }
}

@media screen and (max-width: 960px) {
  .actorPhoto {
    height: 120px !important;
  }
  .castTitle {
    font-size: 16px;
    line-height: 20px;
  }
  .actorRole,
  .actorName {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 640px) {
  .cast {
    margin: 0 0 10px;
  }
  .actorPhoto {
    height: 100px !important;
  }
  .castTitle {
    font-size: 14px;
    line-height: 17px;
  }
  .actorRole,
  .actorName {
    font-size: 8px;
    line-height: 10px;
  }
}
