.movie {
  border: 1px var(--border-main) solid;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  max-width: 340px;
  list-style: none;
}
.movie:hover {
  border-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  & .movieImage {
    transform: scale(1.06);
  }
}

.movieItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.movieDescription {
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.movieImageWrapper {
  height: 400px;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 1s ease-in-out;
}

.skeletonImage {
  height: 320px;
}

.movieTitle {
  padding: 0 5px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.movieAgeRating,
.movieYear,
.movieCountries {
  margin: 0;
}

.movieCountries {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.country:last-child:before {
  content: " ";
}

.country:not(:last-child):after {
  content: ", ";
  margin-right: 5px;
}

@media screen and (max-width: 533px) {
  .movie {
    max-width: 100%;
  }
  .movieImageWrapper {
    height: 500px;
  }
}

@media screen and (max-width: 375px) {
  .movieImageWrapper {
    height: 400px;
  }
}
