.mainSection {
  padding: 30px;
}

.headSearch {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}

.searchForm {
}
.searchInput {
  box-sizing: border-box;
  width: 500px;
  height: 100%;
  border-radius: 7px;
  font-size: 20px;
}

.title {
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
  font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
}

.filmsWrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}

.filmsList {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.filters {
  justify-self: flex-end;
  width: 250px;
}

.pagination {
  margin-top: 20px;
}
