.main {
  width: 100%;
  max-width: 1440px;
  flex-grow: 1;
  margin: auto;
}

.content {
  display: flex;
  padding: 0 30px;
}

.headSearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchInput {
  box-sizing: border-box;
  width: 500px;
  height: 100%;
  border-radius: 7px;
}

.filmsContent {
  width: 100%;
}

.title {
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
  font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
}

.filmsWrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}

.filmsList {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.filmItem {
  display: flex;
  border: 1px black solid;
  border-radius: 5px;
  overflow: hidden;
}

.filmImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.filmTitle {
  font-size: 16px;
  line-height: 20px;
}

.filmAgeRating,
.filmYear,
.filmCountry {
  margin: 0;
  padding: 0;
}

.filters {
  justify-self: flex-end;
  width: 250px;
}

.pagination {
  margin-top: 20px;
}
