.similarMovies {
  margin-bottom: 20px;
}

.similarTitle {
  margin: 50px 0 20px;
}

.similarList {
  cursor: grab;
  list-style: none;
  padding: 0;
  margin: 0 40px;
}

.slide {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}

.similarImage {
  height: 320px !important;
}

.similarName {
  font-size: 16px;
  margin: 10px 0 0;
}
