@import "./normalize.scss";
@import "./variables/variables.scss";
// @import "./fonts/fonts.scss";

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Druk Wide Cy Web Bold Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Druk\ Wide\ Cy\ Web\ Bold\ Regular.woff2") format("woff2");
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
